In [1]:
from tushare_login import pro

### 三大报表

In [6]:
pro.income(ts_code='300760.SZ', start_date='20200101', end_date='20200730')

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps,total_revenue,revenue,...,minority_gain,oth_compr_income,t_compr_income,compr_inc_attr_p,compr_inc_attr_m_s,ebit,ebitda,insurance_exp,undist_profit,distable_profit
0,300760.SZ,20200429,20200429,20200331,1,1,1.0803,1.0803,4.741267e+09,4.741267e+09,...,495942.0,7033623.0,1.320807e+09,1.320311e+09,495942.0,1.451241e+09,NaN,None,None,None
1,300760.SZ,20200402,20200402,20191231,1,1,3.8500,3.8500,1.655599e+10,1.655599e+10,...,4170049.0,-19328804.0,4.665488e+09,4.661318e+09,4170049.0,NaN,NaN,None,None,None
2,300760.SZ,20200402,20200402,20191231,1,1,3.8500,3.8500,1.655599e+10,1.655599e+10,...,4170049.0,-19328804.0,4.665488e+09,4.661318e+09,4170049.0,5.093785e+09,5.499132e+09,None,None,None

In [5]:
pro.balancesheet(ts_code='300760.SZ', start_date='20200101', end_date='20200730')

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,total_share,cap_rese,undistr_porfit,surplus_rese,...,lt_payroll_payable,oth_comp_income,oth_eqt_tools,oth_eqt_tools_p_shr,lending_funds,acc_receivable,st_fin_payable,payables,hfs_assets,hfs_sales
0,300760.SZ,20200429,20200429,20200331,1,1,1.215691e+09,8.171270e+09,9.903225e+09,607845633.0,...,9.457143e+08,5724776.0,None,None,None,None,None,None,None,None
1,300760.SZ,20200429,20200429,20200331,1,1,1.215691e+09,8.171270e+09,9.903225e+09,607845633.0,...,9.457143e+08,5724776.0,None,None,None,None,None,None,None,None
2,300760.SZ,20200402,20200402,20191231,1,1,1.215691e+09,8.171270e+09,8.599613e+09,607845633.0,...,1.424008e+09,-1308847.0,None,None,None,None,None,None,None,None
3,300760.SZ,20200402,20200402,20191231,1,1,1.215691e+09,8.171270e+09,8.599613e+09,607845633.0,...,1.424008e+09,-1308847.0,None,None,None,None,None,None,None,None

In [4]:
pro.cashflow(ts_code='300760.SZ', start_date='20200101', end_date='20200730')

,ts_code,ann_date,f_ann_date,end_date,comp_type,report_type,net_profit,finan_exp,c_fr_sale_sg,recp_tax_rends,...,others,im_net_cashflow_oper_act,conv_debt_into_cap,conv_copbonds_due_within_1y,fa_fnc_leases,end_bal_cash,beg_bal_cash,end_bal_cash_equ,beg_bal_cash_equ,im_n_incr_cash_equ
0,300760.SZ,20200429,20200429,20200331,1,1,NaN,NaN,5.626128e+09,117963119.0,...,NaN,NaN,None,None,None,NaN,NaN,None,None,NaN
1,300760.SZ,20200402,20200402,20191231,1,1,4.684817e+09,-6734191.0,1.845723e+10,382131126.0,...,-13957747.0,4.721795e+09,None,None,None,1.409413e+10,1.136822e+10,None,None,2.725909e+09
2,300760.SZ,20200402,20200402,20191231,1,1,4.684817e+09,-6734191.0,1.845723e+10,382131126.0,...,-13957747.0,4.721795e+09,None,None,None,1.409413e+10,1.136822e+10,None,None,2.725909e+09